<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068092152608-lsuk4hmkrm6v60dmk5dsq0hng8grqk3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068092152608-lsuk4hmkrm6v60dmk5dsq0hng8grqk3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDTWLkFRDQfEOlsdPWiBqwSV_ZmKjzRhbw</string>
	<key>GCM_SENDER_ID</key>
	<string>1068092152608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paymytea.Bobot</string>
	<key>PROJECT_ID</key>
	<string>bobot-1610383553623</string>
	<key>STORAGE_BUCKET</key>
	<string>bobot-1610383553623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068092152608:ios:ff1c6a5a352b33d3ec5545</string>
</dict>
</plist>